<!DOCTYPE html>
<html lang="ru">
    

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuts and dried fruit</title>
    <link rel="icon" type="image/x-icon" href="../img/log.ico">
    <link rel="stylesheet" href="../css/style.css">
    

</head>

<body>
    <section class="background">
        <header class="main-header">
            <nav>
                <div class="menu">
                    <ul>
                        <li><a href="Discount.html ">Товари со скидкой</a></li>
                        <li><a href="Payment-delivery.html">Оплата и доставка</a></li>
                        <li><a href="Return-Exchange.html">Возврать и обмень</a></li>
                        <li><a href="Wholesale.html">Товари оптом</a></li>
                        <li><a href="Contacts.html">Контакти</a></li>
                        <li><a href="Review.html">Отзывы о нас</a></li>
                    </ul>
                </div>
            </nav>
        </header>


        <header>
            <ul class="pod_menu">
                <li class="logo">
                    <a href="index.html">
                        <img src="../img/log.png" width="100" height="100" alt="Логотип">
                    </a>
                </li>
                <li>
                    <h5>Ваш город: <br>
                        <a id="moscow" href="#moscow">Москва</a>
                    </h5>
                </li>
                <li>
                    <form>
                        <input type="search" placeholder="Искать здесь...">
                        <button type="submit">Найти</button>
                    </form>
                </li>
                <li>
                    <a href="entrance.html">Войти</a>
                </li>
                <li>
                    <a href="registration">Регистрация</a>
                </li>
            </ul>
        </header>


        <main>
            <div class="ff">
                <h1>Орехи сухофрукты специи</h1>
            </div>

            <section class="list-container">
                <ul class="list">
                    <div class="item1">
                        <li>
                            <a href="Nuts.html" target="_self">Орехи &bigtriangledown;</a>
                            <ul>
                                <li><a href="#">Миндаль</a></li>
                                <li><a href="#">Кешью</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="dried-fruit.html">Сухофрукты &bigtriangledown;</a>
                            <ul>
                                <li><a href="#">Cушоное Манго</a></li>
                                <li><a href="#">Курага</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="berries">Сушёные ягоды &bigtriangledown;</a>
                            <ul>
                                <li><a href="#">Шиповник</a></li>
                                <li><a href="#">Клюква сушеная</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="Candied">Цукаты &bigtriangledown;</a>
                            <ul>
                                <li><a href="#">Ананас</a></li>
                                <li><a href="#">Дыня</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="Sweets">Сладости &bigtriangledown;</a>
                            <ul>
                                <li><a href="#">Халва</a></li>
                                <li><a href="#">Халва</a></li>
                                <li><a href="#">Халва</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="Seeds">Семечки и семена &bigtriangledown;</a>
                            <ul>
                                <li><a href="#">Халва</a></li>
                                <li><a href="#">Халва</a></li>
                                <li><a href="#">Халва</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="Spices">Специи &bigtriangledown;</a>
                            <ul>
                                <li><a href="#">Халва</a></li>
                                <li><a href="#">Халва</a></li>
                                <li><a href="#">Халва</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="fruit-chips">Фруктовые чипсы &bigtriangledown;</a>
                            <ul>
                                <li><a href="#">Халва</a></li>
                                <li><a href="#">Халва</a></li>
                                <li><a href="#">Халва</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="Grains-legumes">Крупа и бобовые &bigtriangledown;</a>
                            <ul>
                                <li><a href="#">Халва</a></li>
                                <li><a href="#">Халва</a></li>
                                <li><a href="#">Халва</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="Tea">Чай &bigtriangledown;</a>
                            <ul>
                                <li><a href="#">Халва</a></li>
                                <li><a href="#">Халва</a></li>
                                <li><a href="#">Халва</a></li>
                            </ul>
                        </li>
                    </div>
                </ul>

                    <ul class="fields">
                        <a href="Nuts.html">
                            <img class="imgs" src="../img/Орех.jpg" width="220" height="165" alt="nuts">
                            <p>Орехи</p>
                        </a>

                        <a href="dried-fruit.html">
                            <img class="imgs" src="../img/dried.jpg" width="220" height="165" alt="dried">
                            <p>Сухофрукты</p>
                        </a>

                        <a href="berries.html">
                            <img class="imgs" src="../img/berries.jpg" width="220" height="165" alt="berries">
                            <p>Сушёные ягоды</p>
                        </a>

                        <a href="candied.html">
                            <img class="imgs" src="../img/candied.jpg" width="220" height="165" alt="candied">
                            <p>Цукаты</p>
                        </a>

                        <a href="sweets.html">
                            <img class="imgs" src="../img/sweets.jpg" width="220" height="165" alt="sweets">
                            <p>Сладости</p>
                        </a>

                        <a href="seeds.html">
                            <img class="imgs" src="../img/seeds.jpg" width="220" height="165" alt="seeds">
                            <p>Семена</p>
                        </a>

                        <a href="Spices.html">
                            <img class="imgs" src="../img/Spices.jpeg" width="220" height="165" alt="Spices">
                            <p>Специи</p>
                        </a>

                        <a href="fruit-chips.html">
                            <img class="imgs" src="../img/fruit-chips.jpg" width="220" height="165" alt="fruit-chips">
                            <p>Фруктовые чипсы</p>
                        </a>

                        <a href="Grains-legumes.html">
                            <img class="imgs" src="../img/Grains-legumes.jpg" width="220" height="165"
                                alt="Grains-legumes">
                            <p>Крупа и бобовые</p>
                        </a>

                        <a href="Tea.html">
                            <img class="imgs" src="../img/tea.jpg" width="220" height="165" alt="tea">
                            <p>Чай</p>
                        </a>

                        <a href="oil.html">
                            <img class="imgs" src="../img/oil.jpg" width="220" height="165" alt="oil">
                            <p>Масло</p>
                        </a>
                    </ul>
            </section>
        </main>

        <footer class="footer">
                <div class="item-footer1">
                    <a href="index.html">
                        <img src="../img/log-ch.png" width="150" height="150" alt="log-ch">
                    </a>
                </div>

                <div class="item-footer2-1">
                    <ul>
                        <a class="item-footer2" href="#">
                            <h5>Акции</h5>
                        </a>
                        <a class="item-footer2" href="#">
                            <h5>Оплата и доставка</h5>
                        </a>
                        <a class="item-footer2" href="#">
                            <h5>Возврать и обмень</h5>
                        </a>
                        <a class="item-footer2" href="#">
                            <h5>Товары оптом</h5>
                        </a>
                        <a class="item-footer2" href="#">
                            <h5>Контакты</h5>
                        </a>
                        <a class="item-footer2" href="#">
                            <h5>Отзывы о нас</h5>
                        </a>
                        <a class="item-footer2" href="#">
                            <h5>Политика конфиденциальности | Провавая иноформация</h5>
                        </a>
                        <a class="item-footer2" href="#">
                            <h5>Личный кабинет</h5>
                        </a>
                        <a class="item-footer2" href="#">
                            <h5>Отзывы о нас</h5>
                        </a>
                        <a class="item-footer2" href="#">
                            <h5>Гарантия лучшей цены</h5>
                        </a>
                    </ul>
                </div>

                <div class="item-footer3">
                    <h3>Контактная иноформация</h3>
                    <p>Телефон:<a href="tel:+79520990007">+7 (952) 099-00-07</a> <br>
                        <h>Адрес:</h><a href="https://www.google.com/maps?q=г.Москва, 1-я Синичкина д3/1А"
                            target="_blank">г.Москва, 1-я Синичкина д3/1А </a> <br>
                        Время работы:
                        пн-пт: c 10:00 до 22:00 <br>
                        cб-вс: c 10:00 до 19:00 <br>
                    </p>
                </div>
        </footer>
    </section>
    <script src="../js/script.js">
    </script>
</body>
</html>