<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/price.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>katalog</title>
</head>

<body>
    <header>
    <section class="katalog1">
        
        <div class="product">
            <img src="минадль.jpg" width="200" height="150" alt="Миндаль">
            <h2>Сырой миндаль</h2>
            <p class="price">500руб</p>
            <button type="submit">В корзину</button>
        </div>

        <div class="product">
            <img src="кешью.jpg" width="200" height="150" alt="Кешью">
            <h2>Сырой кешью</h2>
            <p class="price">500руб</p>
            <button type="submit">В корзину</button>
        </div>

        <div class="product">
            <img src="грецкий.jpg" width="200" height="150" alt="грецкий орех">
            <h2>Грецкий орех</h2>
            <p class="price">500руб</p>
            <button type="submit">В корзину</button>
        </div>

        <div class="number">
            <a href="#">1</a>
            <a href="#">2</a>
        </div>

    </section>
    
</header>

     <section>
        <h1>Личный кабинет</h1>
        <p>Ведите свой логин и пароль</p>
        <form action="https://echo.nuts.ru" method="post">
            <label for="login-login">  Логин:</label>
            <input id="login-login" type="email" name="login" placeholder="email@.com">
<p></p>
            <label for="pass">Пароль:</label>
            <input id="pass" type="password" name="password" placeholder="*******">
<p></p>
            <label>
            <input type="checkbox" name="remember">
            Запомнить 
        </label> 
        <a href="###">Я забыл пароль</a> <br><br>
        <button type="submit">Войти</button>
        </form><br>
        <button type="button">Закрыть</button>
     </section>
     <section>
        <h2>Мы на карте</h2>
        <button type="button">Закрыть</button>
     </section>

</body> 
</html>