<!DOCTYPE html>
<html><head>
<meta charset="UTF-8">
<title>Авторизация</title>
<link rel="stylesheet" href="Registr.css">
</head>
<body>
    <section class="personal-area">
    <h1>Личный кабинет</h1>
    <p>Введите свой логин и пароль</p>
    <div class="email">
        <label for="email">Логин: <input type="email" id="email" name="email" placeholder="email@.com" required></label>
    </div>
    <div>
        <label for="password">Пароль: <input type="password" id="password" name="password" required></label>
    </div>
    <div></div>
    <div></div>
    <input type="submit" >
   </section>
</body>
</html>
